body {
  margin: 0;
  padding: 0;
}
#julia {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 80%;
  left: ;

}

#toolbar{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20%;
  left: 80%;
}

#title{
  margin-left:5%;
  margin-right:5%;
}

#resturant_name{
  margin-left:5%;
  margin-right:5%;
}

#restText{
  margin-left:5%;
  margin-right:35;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

}

.legend {
  position: absolute;
  top: 25%;
  transform: translateY(50%);
  right: 150px;
  background: none; /* Add !important to override other styles */
  padding: 0; /* Remove padding */
  
  
}

.legend h4 {
  margin: 0 0 0px;
  font-weight: bold;
}

.legend div {
  margin: 0 0 3px;
}

.legend span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  vertical-align: middle;
}

